<div class="container">
  <ngx-ui-loader fgsColor="#19f4fb" text="loading ..."></ngx-ui-loader>
  <h3 class="h3 text-center my-4">Table of users</h3>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Picture</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let user of users
            | paginate
              : {
                  id: 'listing_pagination',
                  itemsPerPage: 10,
                  currentPage: page,
                  totalItems: totalRecords
                }
        "
      >
        <td>{{ user.gender }}</td>
        <td>
          {{ user.name.title }} {{ user.name.first }} {{ user.name.last }}
        </td>
        <td>{{ user.email }}</td>
        <td>
          {{ user.phone }}
        </td>
        <td>
          <img
            src="{{ user.picture.medium }}"
            alt="{{ user.name.first }}"
            width="40"
            height="40"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <pagination-controls
      id="listing_pagination"
      directionlinks="true"
      [maxSize]="size"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
</div>
